# Dependencias
node_modules/

# Builds de producción
dist/
dist-ssr/

# Variables de entorno
.env
*.local

# Logs
logs
*.log
npm-debug.log*

# Sistema operativo / Editores
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?